.Search-main {
  margin-bottom: 0px;
}

.Search-panel {
  min-height: 100vh !important;
}

.SearchResults-link-chip:hover {
  background-color: #689f38 !important;
  color: white !important;
}

.Search-Results-season-card {
  width: 295px;
}
