.Search-main {
  margin-bottom: 0px;
}

.Search-panel {
  min-height: 100vh !important;
}

.SearchResults-link-chip:hover {
  background-color: #689f38 !important;
  color: white !important;
}

.Search-Results-episode-carousel {
  width: 200px;
  height: 200px !important;
}

.carousel-item,
active img {
  max-height: 112px !important;
  overflow: hidden !important;
}
